<!doctype html>
<html>

<!-- Header -->
<!-- Includes page title, stylesheets, js scripts -->
<head>
    <title>Home | Phillip Daigle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko|Lato">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<!-- Body -->
<!-- Includes main body of page -->
<body class="js">
    <ul class="onepage-pagination" style="right: 30px">
        <li>
            <a data-index="1" href="#1" class=""></a>
        </li>
        <li>
            <a data-index="2" href="#2" class=""></a>
        </li>
        <li>
            <a data-index="3" href="#3" class=""></a>
        </li>
    </ul>

    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>

    <div class="main onepage-wrapper" style="transition: all 1000ms ease 0s;">
        <!-- Page 1 | Landing Page -->
        <section class="page1 section" data-index="1" style="position: relative; left: 0px; top: 0%;">
            <div class="name-container mx-auto flex-column">
                <div class="name">
                    <h1 class="name-header">Phillip Daigle</h1>
                    <p class="name-desc">Full-Stack Developer</p>
                </div>

                <div class="icons-container">
                    <main class="icons">
                        <!-- Github Icon -->
                        <a href="https://github.com/Cyco12"><svg
                                class="octicon octicon-mark-github icon-button" viewBox="0 0 16 16" version="1.1" width="30"
                                height="30" aria-hidden="true">
                                <path fill-rule="evenodd" fill="#25f1f5"
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                </path>
                            </svg></a>
                    </main>
                    <main class="icons">
                        <!-- Gitlab Icon -->
                        <a href="https://gitlab.com/Cyco12">
                            <svg width="30" height="30" class="icon-button" viewBox="0 0 36 36">
                                <path fill="#25f1f5" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"
                                    data-darkreader-inline-fill="" style="--darkreader-inline-fill:#e5543c;"></path>
                                <path fill="#25f1f5" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"
                                    data-darkreader-inline-fill="" style="--darkreader-inline-fill:#e5543c;"></path>
                                <path fill="#25f1f5" d="M18,34.38 3,14 33,14 Z" data-darkreader-inline-fill=""
                                    style="--darkreader-inline-fill:#e5543c;"></path>
                                <path fill="#25f1f5" d="M18,34.38 11.38,14 2,14 6,25Z" data-darkreader-inline-fill=""
                                    style="--darkreader-inline-fill:#fc7735;"></path>
                                <path fill="#25f1f5" d="M18,34.38 24.62,14 34,14 30,25Z" data-darkreader-inline-fill=""
                                    style="--darkreader-inline-fill:#fc7735;"></path>
                                <path fill="#25f1f5" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"
                                    data-darkreader-inline-fill="" style="--darkreader-inline-fill:#fca935;"></path>
                                <path fill="#25f1f5" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"
                                    data-darkreader-inline-fill="" style="--darkreader-inline-fill:#fca935;"></path>
                            </svg>
                        </a>
                    </main>
                    <main class="icons">
                        <!-- Email Icon -->
                        <a href="mailto:me@pdaigle.com"><svg
                                class="octicon octicon-mention icon-button" viewBox="0 0 14 16" version="1.1" width="30" height="30"
                                aria-hidden="true">
                                <path fill-rule="evenodd" fill="#25f1f5"
                                    d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z">
                                </path>
                            </svg></a>
                    </main>
                </div>
            </div>
        </section>

        <!-- Page 2 | About Me -->
        <section class="page2 section" data-index="2" style="position: relative; left: 0px; top: 0%;">
            <div class="about-container mx-auto flex-column">
                <div class="name">
                    <h1 class="about-header">About Me</h1>
                </div>
                <div class="about-desc">
                    <div id="AboutMeCrate" class="crate is-open">
                        <div class="crate-container">
                            <div class="crate-left">
                                <h1 class="crate-title">Hi! I'm Phillip</h1>
                                <p class="crate-sub-title2">A Full Stack Software Developer</p>
                                <p class="crate-desc">For as long as I can remember, I've always had a passion for fixing things. 
                                    This drive to create effective solutions for problems has helped foster my excitement for programming.</p>
                                <p class="crate-desc">I've got a wide variety of skills from 
                                    <a class="link-1 blue" href="https://github.com/Reset-Robotics/2019-robot-code" target="_blank">robotics automation</a> and 
                                    computer vision, to
                                    <a class="link-1 blue" href="https://gitlab.com/Cyco12/LudumDare42" target="_blank">game design</a>
                                    and <a class="link-1 blue" href="https://gitlab.com/Cyco12/portfolio" target="_blank">web development</a>. 
                                    With these skills, and an overwhelming desire to continue to learn 
                                    and improve upon them, I want to <i>change the world</i>.</p>
                                <p class="crate-desc">If you want to change the world with me, you can reach me 
                                    <a class="link-1 blue" href="mailto:me@pdaigle.com" target="_blank">here</a>.</p>
                                <div class="cratenoAnim-buttons crate-source2">
                                    <a href="https://gitlab.com/Cyco12/portfolio"><svg
                                            fill="#25f1f5"><%= octicon "repo", :height => 25 %></svg></a>
                                    <a href="https://gitlab.com/Cyco12/portfolio" class="crate-git-text2"
                                        style="margin-left: 0%; color: #25f1f5;">View the source code for this site
                                        </a>
                                </div>
                            </div>
                            <div class="crate-right">
                                <img class="crate-image" src="/assets/robotics_profile_compressed.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page 3 | My Work -->
        <section class="page3 section" data-index="3" style="position: relative; left: 0px; top: 0%;">
            <div class="work-container mx-auto flex-column">
                <div class="name">
                    <h1 class="work-header">Some of My Work</h1>
                </div>
                <div class="work-desc">
                    <div id="demo" class="carousel">
                        <!--indicators-->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                            <li data-target="#demo" data-slide-to="3"></li>
                            <li data-target="#demo" data-slide-to="4"></li>
                            <li data-target="#demo" data-slide-to="5"></li>
                        </ul>

                        <!--slideshow-->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div id="ResetCrate" class="cratenoAnim is-open">
                                    <div class="cratenoAnim-container">
                                        <div class="cratenoAnim-left">
                                            <h1 class="cratenoAnim-title">Introducing Reset Robotics</h1>
                                            <p class="cratenoAnim-sub-title"> Custom HTML5 + CSS Website</p>
                                            <p class="cratenoAnim-desc">During my time with
                                                <a class="link-1 blue" href="https://resetrobotics.org"
                                                    target="_blank">Reset Robotics</a>,
                                                I assisted in the creation of our second iteration custom website. This
                                                website
                                                was a custom refresh to replace our old Wordpress site.</p>
                                            <p class="cratenoAnim-desc">In this project, I utilized core skills in HTML5, CSS,
                                                and <a class="link-1 blue" href="https://git-scm.com"
                                                    target="_blank">Git</a>
                                                version control.
                                                The legacy site can be viewed
                                            <a class="link-1 blue" href="https://resetrobotics.pdaigle.com" target="_blank">here</a>.</p>
                                        </div>
                                        <div class="cratenoAnim-right">
                                            <img src="/assets/morpheus_climb_compressed.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                            <div id="PotatoBotCrate" class="cratenoAnim is-open">
                                <div class="cratenoAnim-container">
                                    <div class="cratenoAnim-left">
                                        <h1 class="cratenoAnim-title">Introducing PotatoBot</h1>
                                        <p class="cratenoAnim-sub-title">My fully modular
                                            <a class="link-1 blue" href="https://discord.com"
                                                target="_blank">Discord</a>
                                                chat bot.</p>
                                        <p class="cratenoAnim-desc">This project allowed me to leverage my improvements in both
                                            <a class="link-1 blue"
                                                href="https://kotlinlang.org"
                                                target="_blank">Kotlin</a>
                                            and general OOP skills.</p>
                                        <p class="cratenoAnim-desc">In this project, I created a scalable core project for a Discord chat-bot.
                                            This bot utilized 
                                            <a class="link-1 blue" href="https://github.com/kordlib/kord"
                                                target="_blank">Kord</a>, a Kotlin wrapper for the Discord API. These capabilities leverage an easily scalable 
                                                framework I have created which makes implementing future command module pairs
                                            extremely straightforward.</p>
                                        <!-- https://gitlab.com/Cyco12/PotatoBot -->
                                        <div class="cratenoAnim-buttons crate-source">
                                            <a href="https://gitlab.com/Cyco12/PotatoBot"><svg
                                                    class="crate-git-icon" fill="#25f1f5"><%= octicon "repo", :height => 25 %></svg></a>
                                            <a href="https://gitlab.com/Cyco12/PotatoBot" class="crate-git-text"
                                                style="margin-left: 0%; color: #25f1f5;">View the source code here
                                                </a>
                                        </div>
                                    </div>
                                    <div class="cratenoAnim-right">
                                        <img src="/assets/discordlogo_transparent.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div id="IsolationCrate" class="cratenoAnim is-open">
                                    <div class="cratenoAnim-container">
                                        <div class="cratenoAnim-left">
                                            <h1 class="cratenoAnim-title">Introducing Isolation</h1>
                                            <p class="cratenoAnim-sub-title">My first
                                                <a class="link-1 blue" href="https://en.wikipedia.org/wiki/Game_jam"
                                                    target="_blank">Game Jam</a>
                                                game. </p>
                                            <p class="cratenoAnim-desc">I created it while participating in Spartanhacks,
                                                a local 24 hackathon. This game was intended to be a 2D platformer-based
                                                RPG. It served as an introduction to game development for
                                                me, and allowed me to utilize skills in
                                                <a class="link-1 blue" href="https://unity.com" target="_blank">Unity
                                                    C#</a>
                                                , game design, and other team oriented game development skills.</p>
                                        </div>
                                        <div class="cratenoAnim-right">
                                            <img src="/assets/isolation_square_compressed.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div id="PolybiusCrate" class="cratenoAnim is-open">
                                    <div class="cratenoAnim-container">
                                        <div class="cratenoAnim-left">
                                            <h1 class="cratenoAnim-title">Introducing Polybius</h1>
                                            <p class="cratenoAnim-sub-title">My 2018 FRC Robot with
                                                <a class="link-1 blue" href="https://resetrobotics.org"
                                                    target="_blank">Reset Robotics</a>.</p>
                                            <p class="cratenoAnim-desc">This project vastly improved my knowledge of
                                                autonomous robotics.
                                                I re-wrote the code for this robot many times to learn
                                                <a class="link-1 blue"
                                                    href="https://en.wikipedia.org/wiki/Motion_control"
                                                    target="_blank">Motion Profiling</a>
                                                and other automation skills.</p>
                                            <p class="cratenoAnim-desc">In this project, I utilized core skills in Java,
                                                and C++ languages, as well as a variety of automation libraries in both
                                                general robotics and
                                                <a class="link-1 blue" href="https://www.firstinspires.org/robotics/frc"
                                                    target="_blank">FRC</a>
                                                specific applications.</p>
                                            <!-- https://github.com/Reset-Robotics/2018-robot-code -->
                                            <div class="cratenoAnim-buttons crate-source">
                                                <a href="https://github.com/Reset-Robotics/2018-robot-code"><svg
                                                        class="crate-git-icon" fill="#25f1f5"><%= octicon "repo", :height => 25 %></svg></a>
                                                <a href="https://github.com/Reset-Robotics/2018-robot-code" class="crate-git-text"
                                                    style="margin-left: 0%; color: #25f1f5;">View the source code here
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="cratenoAnim-right">
                                            <img src="/assets/polybius_comp_compressed.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div id="OrthusCrate" class="cratenoAnim is-open">
                                    <div class="cratenoAnim-container">
                                        <div class="cratenoAnim-left">
                                            <h1 class="cratenoAnim-title">Introducing Orthus</h1>
                                            <p class="cratenoAnim-sub-title">My 2019 FRC Robot with
                                                <a class="link-1 blue" href="https://resetrobotics.org"
                                                    target="_blank">Reset Robotics</a>.</p>
                                            <p class="cratenoAnim-desc">This robot was our first programmed completely in
                                                <a class="link-1 blue" href="https://kotlinlang.org"
                                                    target="_blank">Kotlin</a>.
                                                I was responsible for over 70% of the code.</p>
                                            <p class="cratenoAnim-desc">In this project, I utilized core skills in Kotlin,
                                                Java,
                                                and C++ languages across a variety of
                                                <a class="link-1 blue" href="https://www.firstinspires.org/robotics/frc"
                                                    target="_blank">FRC</a>
                                                and robotics specific frameworks and libraries.</p>
                                            <!-- https://github.com/Reset-Robotics/2019-robot-code -->
                                            <div class="cratenoAnim-buttons crate-source">
                                                <a href="https://github.com/Reset-Robotics/2019-robot-code"><svg
                                                        class="crate-git-icon" fill="#25f1f5"><%= octicon "repo", :height => 25 %></svg></a>
                                                <a href="https://github.com/Reset-Robotics/2019-robot-code" class="crate-git-text"
                                                    style="margin-left: 0%; color: #25f1f5;">View the source code here
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="cratenoAnim-right">
                                            <img src="/assets/orthus_crop_compressed.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div id="ZeroCrate" class="cratenoAnim is-open">
                                    <div class="cratenoAnim-container">
                                        <div class="cratenoAnim-left">
                                            <h1 class="cratenoAnim-title">Introducing ZeroBytes</h1>
                                            <p class="cratenoAnim-sub-title">My <a class="link-1 blue" href="http://ldjam.com"
                                                    target="_blank">Ludum Dare</a>
                                                #42 Game Jam Game.</p>
                                            <p class="cratenoAnim-desc">A result of my second ever game jam, and first Ludum
                                                Dare,
                                                <a class="link-1 blue"
                                                    href="https://ldjam.com/events/ludum-dare/42/zerobytes"
                                                    target="_blank">Zero Bytes</a>
                                                was a top down hack-n-slash game made in just 72 hours.</p>
                                            <p class="cratenoAnim-desc">I created this game with one other person, utilizing
                                                core skills in
                                                <a class="link-1 blue" href="https://unity.com" target="_blank">Unity
                                                    C#</a>,
                                                procedural generation, and game design.</p>
                                            <!-- https://gitlab.com/Cyco12/LudumDare42 -->
                                            <div class="cratenoAnim-buttons crate-source">
                                                <a href="https://gitlab.com/Cyco12/LudumDare42"><svg
                                                        class="crate-git-icon" fill="#25f1f5"><%= octicon "repo", :height => 25 %></svg></a>
                                                <a href="https://gitlab.com/Cyco12/LudumDare42" class="crate-git-text"
                                                    style="margin-left: 0%; color: #25f1f5;">View the source code here
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="cratenoAnim-right">
                                            <img src="/assets/zerobytes.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="app/assets/javascripts/homepage.js"></script>
    <script>
        /*
         * Onepage Scroller
         */
        $(".main").onepage_scroll({
            sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
            easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
                                             // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
            animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
            pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
            updateURL: true,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
            beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
            afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
            loop: true,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
            keyboard: true,                  // You can activate the keyboard controls
            responsiveFallback: false,       // You can fallback to normal page scroll by defining the width of the browser in which
                                             // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
                                             // the browser's width is less than 600, the fallback will kick in.
            direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".  
        });
    </script>
</body>

</html>