/* 
 * Place all the styles related to the homepage controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/
 */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Colors */
body {
  --header-text-color: #25f1f5; /*#25f1f5*/
  --onepage-color: #25f1f5; /*#25f1f5*/
  --box-shadow-color: #D7CDCC; /*#222222*/
  --box-shadow-color2: #25f1f5;
  --desc-text-color: #25f1f5; /*222222*/
  --background-color: #292F36; /*4A4B49*/
  --modal-background: #292F36;
  --modal-background-left: #292F36;
  --modal-title: #25f1f5;
  --modal-x-color: #25f1f5;
  --modal-text-color: #D7CDCC;
  --modal-link-text-color: #25f1f5;
  --modal-border-color: #D7CDCC;
  --crate-background: #292F36;
  --crate-background-left: #292F36;
  --crate-title: #25f1f5;
  --crate-text-color: #D7CDCC;
  --crate-link-text-color: #D7CDCC;
  --crate-border-color: #292F36; /*222222*/
  --chevron-color: #25f1f5;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: var(--background-color);/*#4A4B49/*8FCCFF/*00fff2/*#00e3d6*/
  
}

body {
  display: flex;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 3.5rem rgba(0, 0, 0, 0.5);
  /*animation: pulse 5s infinite;*/
}

/* Pages and Scrolling */
.onepage-pagination{
  right: 30px;
}
.onepage-pagination li a:before{
    background: var(--onepage-color);
}
.onepage-pagination li a.active:before{
    border: 2px solid var(--onepage-color);
}
.name-header a::after{
  -webkit-animation: roll-out-left 0.6s ease-out both;
  animation: roll-out-left 0.6s ease-out both;
}
.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}
.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}


/* Name */
.name {
    text-align: center;
    width: 100;
    height: 100;
    margin: auto;
    position: relative;
    //margin-top: 45%;

    &-header {
      font-weight: 400;
      font-size: 100px;
      //margin-top: 90%; //20rem
      padding: .75rem .75rem;
      color: var(--header-text-color);/*#25f1f5;/*a19f9f;/*25f1f5;/*030E14*/
      font-family: 'Teko', sans-serif;
      -webkit-animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
      animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  &-desc {
      font-weight: 100;
      font-size: 25px;
      color: var(--desc-text-color);/*#222222;/*a19f9f;/*25f1f5;*/
      font-family: 'Lato', sans-serif;
      margin-top: -.75rem;
      margin-bottom: -.75rem;
      margin: auto;
  }
  &-container {
      display: flex; 
      width: 100;
      height: 100;
      padding: 3; 
      margin: auto;
      flex-direction: column;
      margin-top: 20%;
  }
}



/* About */
.about {
  &-header {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 8.9%; //1rem, 16px, 8.9% of 180px
    margin-top: 44%; //5rem, 80px, 44% of 180px
    padding: .75rem .75rem; //0.75rem, 12px
    color: var(--header-text-color);/*#25f1f5;/*030E14*/
    font-family: 'Teko', sans-serif;
    -webkit-animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
  }
  &-container {
    display: flex; 
    width: 100;
    height: 100;
    padding: 3; 
    margin: auto;
    flex-direction: column;
    margin-top: 0%;
  }
  &-desc {
    font-weight: 100;
    font-size: 25px;
    color: var(--desc-text-color);/*#222222;/*a19f9f;/*25f1f5;*/
    font-family: 'Lato', sans-serif;
    margin-top: -.75rem;
    margin-bottom: -.75rem;
    margin: auto;
  }
}


/* Work */
.work {
  &-header {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 6rem;
    margin-top: 5rem;
    padding: .75rem .75rem;
    color: var(--header-text-color);
    /*#25f1f5;/*030E14*/
    font-family: 'Teko', sans-serif;
    -webkit-animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
  }
  &-container {
    display: flex; 
    width: 100;
    height: 100;
    padding: 3; 
    margin: auto;
    flex-direction: column;
    margin-top: 0%;
  }
  &-desc {
    font-weight: 100;
    font-size: 25px;
    color: var(--desc-text-color);/*#222222;/*a19f9f;/*25f1f5;*/
    font-family: 'Lato', sans-serif;
    margin-top: -.75rem;
    margin-bottom: -.75rem;
    margin: auto;
  }
}



/* Icons */
.icons {
    text-align: center;
    padding: 0.35rem 0.35rem;
    margin-left: 1rem;
    margin-top: 1rem;
    -webkit-animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

    &-source {
      color: var(--desc-text-color);
      height: 30px;
    }

    &-container {
      display: flex; 
      margin: auto;
    }

    &-no-border {
      text-align: center;
      padding: 0.25rem 0.25rem;
      margin-left: 1rem;
    }
}


/* Preview-Box */
.preview-box {
    padding: .20rem .20rem;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    background: #4A4B49;
    position: relative;
    -webkit-animation: shadow-from-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-from-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.preview-container {
    padding: 1.75rem .75rem;
    display: flex
}

.preview-overlay {
    transition: .35s ease;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.preview-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.preview-box:hover .preview-image {
    opacity: 0.5;
}

.preview-box:hover .preview-overlay {
    opacity: 1;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 60px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */ 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: 0.4s;
  
  &-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: -188.5px;
    margin-left: -360px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: var(--modal-background);
    transform: translateY(100px) scale(0.4);
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: var(--modal-title);
  }

  &-sub-title {
    margin: 6px 0 30px 0;
    color: var(--modal-text-color);
  }

  &-desc {
    font-size: 16px;
    color: var(--modal-text-color);
  }

  &-left {
    padding: 60px 30px 20px;
    background: var(--modal-background-left);
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
  }

  &-button {
    color: darken(#8c7569, 5%);
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
      background: rgba(#fff, 0.8);
    }
  }

  &-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
    }
  }

  &.is-open {
    height: 100%;
    //background: rgba(#333, 0.85);

    .modal-button {
      opacity: 0;
    }

    .modal-container {
      opacity: 1;
      transition-duration: 0.6s;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .modal-right img {
      transform: scale(1);
    }

    .modal-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.modal-icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.modal-content {
  background-color: var(--modal-background);
  color: var(--modal-text-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--modal-border-color);
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: var(--modal-x-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Crate */
.crate {
  display: flex; 
  width: 100%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */ 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  //border-width: 0.5rem;
  //border-style: solid;
  //border-color: var(--crate-border-color);
  transition: 0.4s;
  margin-top: 6rem;
  -webkit-animation: shadow-pop-bl 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-bl 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;

  &-container {
    display: flex;
    max-height: 510px;
    margin: auto;
    overflow: hidden;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: var(--crate-background);
    transform: translateY(100px) scale(0.4);
    -webkit-animation: shadow-from-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-from-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    //-webkit-animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    //animation: shadow-pop 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

  &-image {
    max-width: 540px;
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: var(--crate-title);
  }

  &-sub-title {
    margin: 6px 0 30px 0;
    color: var(--crate-text-color);
  }
  &-sub-title2 {
    font-size: 20px;
    margin: 6px 0 30px 0;
    color: var(--crate-text-color);
  }

  &-desc {
    font-size: 16px;
    color: var(--crate-text-color);
  }

  &-left {
    padding: 60px 30px 20px;
    max-width: 480px;
    background: var(--crate-background-left);
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
  }

  &-button {
    color: darken(#8c7569, 5%);
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
      background: rgba(#fff, 0.8);
    }
  }

  &-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
    }
  }

  &.is-open {
    height: 100%;
    background: var(--crate-background);

    .crate-button {
      opacity: 0;
    }

    .crate-container {
      opacity: 1;
      transition-duration: 0.6s;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .crate-right img {
      transform: scale(1);
    }

    .crate-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }

  &-buttons {
    display: flex;
    justify-content: left;
    align-items: left;

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
  &-git-button {
    display: flex;
    margin-left: -37% !important;
  }
  &-git-text {
    margin-left: -103% !important;
    font-size: 14px !important;
  }
  &-git-icon {
    margin-top: 42.5% !important;
  }
  &-git-text2 {
    margin-top: -22.5% !important;
    margin-left: -103% !important;
    font-size: 14px !important;
  }
  &-source {
    margin-left: -27% !important;
    max-height: 25px !important;
  }
  &-source2 {
    margin-left: -37% !important;
  }
}

.crate-icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.crate-content {
  //background-color: var(--crate-background);
  color: var(--modal-text-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--crate-border-color);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Crate No Animation */
.cratenoAnim {
  display: flex; 
  //width: 100%; /* Full width */
  //height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */ 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  //border-width: 0.5rem;
  //border-style: solid;
  //border-color: var(--crate-border-color);
  transition: 0.4s;
  margin-top: 6rem;
  -webkit-animation: shadow-pop-bl 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-bl 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

  &-container {
    display: flex;
    max-height: 510px;
    margin: auto;
    overflow: hidden;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: var(--crate-background);
    transform: translateY(100px) scale(0.4);
  }

  &-image {
    max-width: 540px;
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: var(--crate-title);
  }

  &-sub-title {
    font-size: 20px;
    margin: 6px 0 30px 0;
    color: var(--crate-text-color);
  }
  &-sub-title2 {
    font-size: 20px;
    margin: 6px 0 30px 0;
    color: var(--crate-text-color);
  }

  &-desc {
    font-size: 16px;
    color: var(--crate-text-color);
  }

  &-left {
    padding: 60px 30px 20px;
    max-width: 480px;
    background: var(--crate-background-left);
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
  }

  &-button {
    color: darken(#8c7569, 5%);
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    border-radius: 30px;transition-duration: 0.3s;
    background: var(--crate-background);
    transform: translateY(100px) scale(0.4);
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
      background: rgba(#fff, 0.8);
    }
  }

  &-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
    max-width: 470px;
    max-height: 470px;

    img {
      width: 100%;
      height: 100%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
    }
  }

  &.is-open {
    height: 100%;
    background: var(--crate-background);

    .cratenoAnim-button {
      opacity: 0;
    }

    .cratenoAnim-container {
      opacity: 1;
      transition-duration: 0.6s;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .cratenoAnim-right img {
      transform: scale(1);
    }

    .cratenoAnim-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }

  &-buttons {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.cratenoAnim-icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.cratenoAnim-content {
  background-color: var(--crate-background);
  color: var(--modal-text-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--crate-border-color);
  width: 80%; /* Could be more or less, depending on screen size */
}


/* Carousel */
.carousel {
  display: flex; 
  max-height: 580px;
  max-width: 880px;
  margin: auto;
  position: relative;
}


/* Links */
.link-1 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 0 1px;
  transition: color ease 0.3s;
}

.link-1:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 6%;
  min-height: 2px;
  left: 0;
  bottom: 0;
  background-color: #222;
  transition: all ease 0.3s;
}

.link-1:hover {
  color: #fff;
}

.link-1:hover:after {
  height: 100%;
}

.link-1.red:after {
  background: #FF6B6B;
}
.link-1.blue:after {
  background: #25f1f5;
  opacity: .54;
}


/* Chevron/Arrow */
$base: 0.6rem;

.chevron-container {
  margin-top: -12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
 }

.chevron {
  display: none;
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 6s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 6s ease-out 2s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 6s ease-out 4s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: var(--chevron-color);
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}


/* Particles */
// Config
$color-bg: #1e1e1e;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

// mixins
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

.page-bg, .animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg {
  background: $color-bg;
  background-blend-mode: screen;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}

.particle, .particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}


/* Hex */
#hexGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  margin-left: 15%;
  padding-left: 0;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
}
.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:78%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
}
.hex:hover{
  margin-right: 2%;
  margin-left: -2%;
}
.hex:hover::after {
  content: '';
  width: calc(100% + 2%);
  position: absolute;
  width: 100%;
  z-index: -1;
  left: -2%;
}
.hexIn:hover {
  width: 96%;
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    //overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}
.hex h1:before, .hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
  text-align:center;
}
.hex-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex-img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.hex-img:before {
  background: rgba(22, 103, 137, 0.3)
}
.hex-img:after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.hex-overlay {
  transition: .35s ease;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.hex .hex-img {
  opacity: 0.5;
}

.hex .hex-overlay {
  opacity: 1;
}
.hex:hover .hex-img {
    opacity: 1;
}

.hex:hover .hex-overlay {
    opacity: 0;
}


@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}
@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%;
    font-size: 13px;
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}
@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}
@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%;
    font-size: 12px;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}


/* Mobile Scaling */
@media(max-width: 950px)
{
  .name-container {
    margin-top: 35% !important;
  }
}
@media(max-width: 860px) {
  .crate {
    &-git-button {
      margin-left: -37%*.9 !important;
    }
    &-git-text {
      margin-left: -71%*.9 !important;
    }
  }
}
@media(max-width: 820px) {
  .crate {
    &-git-button {
      margin-left: -37%*.86 !important;
    }
    &-git-text {
      margin-left: -71%*.86 !important;
    }
  }
}
@media(max-width: 805px) {
  .crate {
    &-git-button {
      margin-left: -37%*.84 !important;
    }
    &-git-text {
      margin-left: -71%*.84 !important;
    }
  }
}
@media(max-width: 790px) {
  .crate {
    &-git-button {
      margin-left: -37%*.83 !important;
    }
    &-git-text {
      margin-left: -71%*.83 !important;
    }
  }
}
@media(max-width: 765px) {
  .crate {
    &-git-button {
      margin-left: -37%*.8 !important;
    }
    &-git-text {
      margin-left: -71%*.8 !important;
    }
  }
}
@media(max-width: 750px) {
  .crate {
    &-right {
      display: none;
    }
    &-git-button {
      margin-left: -41% !important;
    }
    &-git-text {
      margin-left: -77% !important;
    }
  }
  .modal {
    &-container {
      width: 90%;
    }
    &-right {
      display: none;
    }
  }
  .cratenoAnim {
    &-container {
      width: 90%;
    }
    &-right {
      display: none;
    }
  }
}
@media(max-width: 650px) {
  .cratenoAnim-right {
    display: none;
  }
}
@media(max-width: 550px) {
  .crate{
    &-git-button {
      margin-left: -24% !important;
    }
    &-git-text {
      margin-left: -44% !important;
    }
  }
  .name {
    &-container {
      margin-top: 75% !important;
    }
    &-header {
      font-size: 75px;
    }
    &-desc {
      font-size: 18.75px;
    }
  }
  .cratenoAnim {
    width: 80%;
    margin: auto;
    margin-top: 25%;
    
    &-right {
      display: none;
    }
    &-title {
      font-size: 26px*.85;
      font-weight: 400;
    }
    &-sub-title {
      font-size: 20px*.85;
    }
    &-desc {
      font-size: 16px*.85;
      font-weight: 400;
    }
  }
  .about-header {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 1rem; //16px, 1.5% of 1080
    margin-top: 5rem; //80px, 7.4% of 1080
    padding: .75rem .75rem; //12px, 1.1% of 1080
  }
  .work-header {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 1rem;
    margin-top: 5rem;
    padding: .75rem .75rem;
  }
}
@media(max-width: 460px) {
  .crate {
    &-container{
      width: 400px;
    }
    &-title {
      font-size: 26px*.8 !important;
    }
    &-sub-title2 {
      font-size: 20px*.8 !important;
    }
    &-desc {
      font-size: 16px*.8 !important;
    }
    &-git-button {
      margin-left: -24%*.82 !important;
    }
    &-git-text {
      margin-left: -44%*.82 !important;
    }
  }
}
@media(max-width: 450px) {
  .crate {
    width: 80%;
    margin: auto;
    margin-top: 25%;

    &-desc {
      width: 320px;
    }

    &-git-button {
      margin-left: -16% !important;
    }
    &-git-text {
      margin-left: -27% !important;
    }
  }
}
@media(max-width: 430px) {
  .crate {
    &-source {
      margin-left: 0% !important;
    }
    &-git-text {
      margin-left: -135% !important;
      font-size: 12px !important;
    }
    &-git-text2 {
      font-size: 12px !important;
    }
    &-left {
      width: 340px !important;
    }
  }
  .cratenoAnim {
    width: 280px !important;
    &-left {
      width: 270px !important;
    }
  }
  .name {
    &-container {
      margin-top: 95% !important;
    }
    &-header {
      font-size: 50px;
    }
    &-desc {
      font-size: 12.5px;
    }
  }
  .about-header {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding: .75rem .75rem;
  }
  .work-header {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding: .75rem .75rem;
  }
}
@media(max-width: 415px) {
  .crate {
    &-title {
      font-size: 26px*.8 !important;
    }
    &-sub-title2 {
      font-size: 20px*.8 !important;
    }
    &-desc {
      font-size: 16px*.8 !important;
      width: 240px;
    }
    &-git-button {
      margin-left: -7% !important;
    }
    &-git-text {
      margin-left: -140% !important;
      font-size: 11.5px !important;
    }
    &-git-text2 {
      margin-left: -120% !important;
      margin-top: -37% !important;
    }
    &-source {
      margin-left: -28% !important;
      padding-bottom: 20px !important;
    }
    &-source2 {
      margin-left: -24.5% !important;
    }
    &-left {
      padding-top: 20px !important;
      width: 330px !important;
      height: 450px !important;
    }
  }

  .cratenoAnim {
    &-container {
      width: 350px !important;
    }
    &-left {
      width: 270px !important;
    }
  }
}
@media(max-width: 400px) {
  .crate {
    margin-top: 5rem;

    &-left {
      max-width: 380px;
    }
  }
  .cratenoAnim-desc {
    font-size: 16px*.80;
    font-weight: 400;
  }
  #hexGrid {
    font-size: 8px;
  }
}
@media(max-width: 380px) {
  .crate {
    &-container {
      width: 300px;
      height: 400px;
    }
    &-title {
      font-size: 26px*.7 !important;
    }
    &-sub-title2 {
      font-size: 20px*.7 !important;
    }
    &-desc {
      width: 210px;
      font-size: 16px*.7 !important;
    }
    &-git-button {
      margin-left: -7% !important;
    }
    &-source {
      margin-left: -32.5% !important;
    }
    &-source2 {
      margin-left: -33% !important;
    }
    &-git-text {
      margin-left: -145% !important;
      font-size: 14px*.75 !important;
    }
    &-git-text2 {
      margin-left: -120% !important;
      margin-top: -33% !important;
      font-size: 14px*.75 !important;
    }
    &-left {
      padding-top: 20px;
    }
  }
  .name {
    &-container {
      margin-top: 115% !important;
    }
  }
}

@media(max-height: 900px) {
  .cratenoAnim {
    height: 450px;
    &-left {
      padding-top: 30px;
    }
  }
}
@media(max-height: 740px) {
  .name-container {
    margin-top: 80% !important;
  }
  .about {
    &-header {
      margin-top: 23%;
      font-size: 25px;
    }
    &-container {
      margin-top: 0%;
    }
  }
  .work {
    &-header {
      margin-top: 23%;
      font-size: 25px;
    }
    &-container {
      margin-top: 0%;
    }
  }

  .crate {
    margin-top: 9% !important;

    &-container {
      height: 450px;
    }
  }
  .cratenoAnim {
    margin-top: 9% !important;

    &-left {
      padding-top: 20px;
    }
  }
}
@media(max-height: 700px) {
  .crate {
    margin-top: 9% !important;

    &-container {
      height: 400px;
    }
  }
}



/* Keyframes */
@-webkit-keyframes shadow-pop {
    0% {
      box-shadow: 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px var(--box-shadow-color), 2px -2px var(--box-shadow-color), 3px -3px var(--box-shadow-color), 4px -4px var(--box-shadow-color), 5px -5px var(--box-shadow-color), 6px -6px var(--box-shadow-color), 7px -7px var(--box-shadow-color), 8px -8px var(--box-shadow-color);
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
}
@keyframes shadow-pop {
    0% {
      box-shadow: 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px var(--box-shadow-color), 2px -2px var(--box-shadow-color), 3px -3px var(--box-shadow-color), 4px -4px var(--box-shadow-color), 5px -5px var(--box-shadow-color), 6px -6px var(--box-shadow-color), 7px -7px var(--box-shadow-color), 8px -8px var(--box-shadow-color);
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color);
            box-shadow: 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px var(--box-shadow-color), -2px 2px var(--box-shadow-color), -3px 3px var(--box-shadow-color), -4px 4px var(--box-shadow-color), -5px 5px var(--box-shadow-color), -6px 6px var(--box-shadow-color), -7px 7px var(--box-shadow-color), -8px 8px var(--box-shadow-color);
            box-shadow: -1px 1px var(--box-shadow-color), -2px 2px var(--box-shadow-color), -3px 3px var(--box-shadow-color), -4px 4px var(--box-shadow-color), -5px 5px var(--box-shadow-color), -6px 6px var(--box-shadow-color), -7px 7px var(--box-shadow-color), -8px 8px var(--box-shadow-color);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color);
            box-shadow: 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px var(--box-shadow-color), -2px 2px var(--box-shadow-color), -3px 3px var(--box-shadow-color), -4px 4px var(--box-shadow-color), -5px 5px var(--box-shadow-color), -6px 6px var(--box-shadow-color), -7px 7px var(--box-shadow-color), -8px 8px var(--box-shadow-color);
            box-shadow: -1px 1px var(--box-shadow-color), -2px 2px var(--box-shadow-color), -3px 3px var(--box-shadow-color), -4px 4px var(--box-shadow-color), -5px 5px var(--box-shadow-color), -6px 6px var(--box-shadow-color), -7px 7px var(--box-shadow-color), -8px 8px var(--box-shadow-color);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}


@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.55);
    }
}
@keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.55);
    }
}
@-webkit-keyframes shadow-from-bottom {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 1.55);
  }
}
@keyframes shadow-from-bottom {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 1.55);
  }
}

@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    25% {
      -webkit-transform: scale(1) rotateZ(90deg);
              transform: scale(1) rotateZ(90deg);
    }
    50% {
      -webkit-transform: scale(1) rotateZ(180deg);
              transform: scale(1) rotateZ(180deg);
    }
    75% {
        -webkit-transform: scale(1) rotateZ(270deg);
                transform: scale(1) rotateZ(270deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    25% {
        -webkit-transform: scale(1) rotateZ(90deg);
                transform: scale(1) rotateZ(90deg);
    }
    50% {
      -webkit-transform: scale(1) rotateZ(180deg);
              transform: scale(1) rotateZ(180deg);
    }
    75% {
        -webkit-transform: scale(1) rotateZ(270deg);
                transform: scale(1) rotateZ(270deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

  @-webkit-keyframes roll-out-left {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) rotate(-540deg);
              transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
    }
  }
  @keyframes roll-out-left {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) rotate(-540deg);
              transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
    }
  }
  @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
    }
    20% {
        -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
    }
    40% {
        -webkit-box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
    }
    60% {
        -webkit-box-shadow: inset 0 0 1.5rem rgba(0, 0, 0, 0.5);
    }
    80% {
        -webkit-box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.5);
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
    }
    40% {
        -moz-box-shadow: inset 0 0 2.5rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 2.5rem rgba(0, 0, 0, 0.5);
    }
    70% {
        -moz-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    }
    100% {
        -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
    }
  }